/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/sfondo.png);
  text-align: center;
  padding: 1rem;
  line-height: 1.4rem;
  background-position: center center;
}
* {
  box-sizing: border-box;
}
/* HEADER */
header {
  background: rgb(0, 160, 198);
  display: inline-block;
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  padding: 2rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 3px #444;
}
header p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}
header a {
  color: inherit;
  text-decoration: none;
}
/* MAIN */
main {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
main article strong {
  color: purple;
  font-weight: bold;
}
main section {
  background-color: #cfc8c9;
  padding: 20;
}
/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
strong {
  color: #a02571;
  font-weight: bold;
a {
  color: #00a0c6;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}
/* TABELLE */
caption {
  font-weight: bold;
  font-style: italic;
}
table {
  margin: 1rem;
  border-bottom: 1px solid #3568c9;
}
thead tr {
  background-color: #3568c9;
  color: #ffff;
}
th td {
  text-align: center;
}
tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
  tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
aside h2 {
  font-weight: bold;
  margin-block: 1rem;
}
.correlati {
  background-color: #cfc8c9;
  margin-bottom: 0.5rem;
}
.code {
  background-color: #d1cfcf;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  padding-block: 0.25rem;
  border: 1px solid black;
}

/* FOOTER */
footer p {
  margin-bottom: 1rem;
}
footer {
  width: 360px;
  display: inline-block;
  background-color: #0088aa;
  padding: 20px;
  margin-bottom: 1rem;
}
